# This is a basic workflow to help you get started with Actions

name: Auto-CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
#  schedule:
#    - cron: '00 5 * * 6' # every Sunday at 5:00

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: get latest url
        run: |
          BASE_URL="https://www.softether-download.com"
          LATEST_FOLDER=$( curl -s $BASE_URL/files/softether/ | tr ';' '\n' | grep -i href | awk -F'"' '{ print $2 }' | sort -n | tail -n1 )
          echo "Latest folder is $LATEST_FOLDER"
          for FOLDER_STRING in "Intel_x64_or_AMD64" "ARM_64bit"
          do
            LATEST=$( curl -s "$BASE_URL/$LATEST_FOLDER/Linux/SoftEther_VPN_Server/64bit_-_$FOLDER_STRING/" | tr '<' '\n' | grep -i href | grep -i tar.gz | awk -F '"' '{ print $2 }' ) 
            echo -e "\nURL for $FOLDER_STRING: " 
            echo "$BASE_URL/$LATEST" | tee latest_url-$FOLDER_STRING.txt
          done
      - name: build container
        run: |
          for ARCH in AMD64 ARM; do
            echo "Creating container for $ARCH ..."
            cp -f Dockerfile Dockerfile-$ARCH
            cat latest_url-*$ARCH*.txt
            LATEST_URL=$( cat latest_url-*$ARCH*.txt )
            echo "Latest URL: $LATEST_URL"
            [ -z "$LATEST_URL" ] && { echo "Latest url not found"; exit 1; }
            sed -i "s@ENV.*DOWNLOAD_URL.*@ENV DOWNLOAD_URL $LATEST_URL@g" Dockerfile-$ARCH
            VERSION_DOWNLOAD_URL=$( grep DOWNLOAD_URL Dockerfile-$ARCH | awk '{ print $3 }' ) 
            SOFTETHER_VERSION=$( basename $VERSION_DOWNLOAD_URL | sed "s@softether-vpnserver-@@g" | cut -f1-3 -d'-' )
            echo "Softether version: $SOFTETHER_VERSION"
            [ -z "$SOFTETHER_VERSION" ] && { echo "Softether version not defined"; exit 1; }
            echo -e "\n\nDockerfile:\n$( cat Dockerfile-$ARCH )\n\n"
            case $ARCH in
              "ARM" )
                echo "  Using docker buildx method ..." 
                docker buildx build --rm --platform linux/arm64 -t croc/softether-arm64 -f Dockerfile-$ARCH . 
                docker tag croc/softether croc/softether-arm64:$SOFTETHER_VERSION
                ;;
              * )
                echo "  Using normal docker build method ..." 
                docker build -t croc/softether -f Dockerfile-$ARCH .
                docker tag croc/softether croc/softether:$SOFTETHER_VERSION
                ;;
            esac
            docker images | grep -i softether
          done
#      - name: push container
#        env:
#          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
#          DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
#        run: |
#          docker images
#          echo $DOCKERHUB_USER | base64 -w0 -i
#          echo $DOCKERHUB_PASS | base64 -w0 -i
#          echo "$DOCKERHUB_PASS" | docker login --username=$DOCKERHUB_USER --password-stdin
#          docker push croc/onedrive